/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

// Old Colors
$white: #FBFBFB;
$pale-blue: #f0f9fc;
$dark-orange: #E7862F;
$teal: #6FD0E7;
$blue: #0062FF;
$dark-blue:#1D3697;
$light-gray: #D8CEC6;
$dark-gray: #8A8A8A; 
$black: #000000;

// Current colors
$white-glove: #EFEFEC;
$cuttle-fish: #7BBDBC;
$wave: #A1D0CF;
$secret-garden: #327463;
$campfire: #CB5B36;
$heart-potion: #A67BBD;
$terrestrial: #2A6455;

// Colors - base document
$body-bg: $white-glove; // page background
$link-color: $heart-potion; 

// Color - navigation 
$navbar-bg: $cuttle-fish; //navigation bar 
$navbar-fg: $black;
$navbar-hl: $white-glove; // highlight hover color
$footer-bg: $wave;

// Colors - table of contents
$toc-color: $terrestrial; // color of selected page from toc

// Color
$code-color: $campfire; // inline code color



/*======= scss:rules =======*/

// Headers
h2 {
  letter-spacing: 2px;
  color: $terrestrial;
}

.title {
  color: $black;
}

.center-text-title {
  text-align: center;
}

// Logo Image Size
.navbar-brand img { 
  max-height: 46px;
  width: auto;
}

.navbar-logo{
  transition: all 0.3s;
}

.navbar-logo:hover{
  transform: translateY(-4px);
}

// Animate About Links & NavBar
.about-link{
  transition: all 0.3s;
}
.about-link:hover {
  transform: translateY(-9px);
}

.nav-item{
  transition: all 0.3s;
}

.nav-item:hover{
  transform: translateY(-4px);
}

.footer{
  height: 4px;
  box-sizing: content-box;
}
