/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

//Colors
$white: #FBFBFB;
$ivory: #FEFDF8;
$pale-blue: #f0f9fc;
$peach: #FDA462;
$dark-orange: #E7862F;
$sky-blue: #C6D8FF;
$azure: #71A9F7;
$teal: #6FD0E7;
$blue: #0062FF;
$dark-blue:#1D3697;
$navy: #192A51;
$light-gray: #D8CEC6;
$dark-gray: #8A8A8A; 
$near-black: #23202B;
$black: #000000;

// Colors - base document
$body-bg: $pale-blue; // page background
$link-color: $dark-orange; 

// Color - navigation 
$navbar-bg: $teal;
$navbar-fg: $black;
$navbar-hl: $blue; // highlight hover color

// Colors - table of contents
$toc-color: $dark-blue; // color of selected page from toc

// Color
$code-color: $dark-gray; // inline code color

/*-- scss:rules --*/
h1 {
  
}
h2 {
  letter-spacing: 2px;
  color: $dark-blue;
}

.title {
  color: $black;
}

.center-text-title {
  text-align: center;
}

.navbar-brand img { 
  max-height: 42px;
  width: auto;
}
